* {
    margin: 0;
    padding: 0;
}
h1 {
    background-color: darkcyan;
    text-align: center;
}
h3 {
    background-color: darkgreen;
    height: 100px;
    width: 100px;
    text-align: center;
}
.colorChange {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
button {
    margin-bottom: 2em;
    padding: 2px 5px;
}
.counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
